<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Horse Racing Simulator</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!--CREATE RACE-->
        <button value="Create Race" onclick="location.href='{{ path('create_race') }}'">Create Race</button>
        {% if createRaceMsg is defined %}
            {{createRaceMsg}}
        {% endif %}
        <hr/>
        <!--PROGRESS-->
        <button value="Progress" onclick="location.href='{{ path('progress_race') }}'">Progress</button>
        {% if progressRaceMsg is defined %}
            {{progressRaceMsg}}
        {% endif %}
        <hr/>
        <!--RUNNING RACES-->
        {% include 'running_races.html.twig' %}
        <hr/>
        <!--LAST 5 FINISHED RACES-->
        {% include 'finished_races.html.twig' %}
        <hr/>
        <!--RECORD-->
        {% include 'race_record.html.twig' %}
    </body>
</html>
