<!DOCTYPE html>
<html>
{% if countRunningRaces == 0 %}
    There are no current races being runned!
{% else %}
    <table border="1" style="border: thin; width: 100%">
        <tr>
            <td colspan="3">
                <h3>Running Races</h3>
            </td>
        </tr>
        {% for race in races %}
            <td style="width: 33%">
                <table border="1" style="border: thin; width: 100%;">
                    <tr>
                        <td colspan="2">
                            <b>Race # {{ race[0].race.id }}</b>
                        </td>
                        <td colspan="2">
                            <b>
                                {% if race[0].race.timeElapsed is not null %}
                                    Time elapsed: {{ race[0].race.timeElapsed }} s
                                {% else %}
                                    Race ready to start!
                                {% endif %}
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Position</b></td>
                        <td><b>Horse</b></td>
                        <td><b>Distance Covered</b></td>
                        <td><b>Final Time</b></td>
                    </tr>
                    {% for racingHorse in race %}
                        <tr>
                            <td>{{ loop.index }} </td>
                            <td>{{ racingHorse.horse.name }}</td>
                            <td>{{ racingHorse.distanceCovered|number_format(3) }} m</td>
                            <td>
                                {% if racingHorse.timeInSeconds is not null %}
                                    {{ racingHorse.timeInSeconds|number_format(3) }} s
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        {% endfor %}
        </tr>
    </table>
{% endif %}
</html>